
@import '../../shared-styles/variables';


.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 25px;

  &__form {
    font-size: 18px;
    width: 100%;
    padding: 25px;
    background-color: #d0d0d0;
  }

  &__lists{
    display: flex;
    margin: 25px;
    width: 100%;
  }
}

.form {
  margin: 0 auto;
  max-width: 566px;
  
  &__input {
    margin: 0 10px;
    border-style: hidden;
    padding: 5px;
  }

  &__button {
    border: 2px solid #303130;
    padding: 5px;
    font-family: initial;
    font-weight: 600;
  }
  
}

.options {
  &__container {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
}

.button {
  border: 1px solid;
  font-weight: bold;
  padding: 5px;
}